body {
  font-family: sans-serif;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}
hr {
  /*display: block;*/
  /*height: 1px;*/
  border: 0;
  border-top: 1px solid #efefef;
  margin: 2em 0;
  padding: 0;
}
h3, h4 {
  margin-top: 50px;
}
p {
  line-height: 1.5;
  vertical-align: baseline;
}
code {
  color: #333;
  background: rgba(0,0,0,0.04);
  padding: 3px;
  border-radius: 5px;
}
