<h2 id="title">Ember Input Mask</h2>

<p>
  Add the following markup to your template to render a masked input component.
</p>

{{code-snippet name="masked-input-basic-example.hbs"}}

<p>
  In the template's controller, specify a <code>mask</code>.
</p>
{{code-snippet name="controller-mask-example.js"}}


<div class="masked-input">
  {{! BEGIN-SNIPPET masked-input-basic-example}}
  {{masked-input value=value mask=mask}}
  {{! END-SNIPPET}}
</div>

<p>value: <span class="output">{{value}}</span></p>
