<h2 id="title">Ember Input Mask</h2>

<p>
  Add the following markup to your template to render a masked input component.
</p>

{{code-snippet name="masked-input-basic-example.hbs"}}

{{! BEGIN-SNIPPET masked-input-basic-example}}
{{masked-input mask=mask}}
{{! END-SNIPPET}}

<p>
  In the template's controller, specify a <code>mask</code>.
</p>
{{code-snippet name="controller-mask-example.js"}}
